# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml

# =========================
# Build Output
# =========================
out/
target/
build/

# =========================
# Compiled Java Files
# =========================
*.class

# =========================
# Logs
# =========================
*.log

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Temporary Files
# =========================
*.tmp
*.swp
*.bak